[submodule "AirLyticsFrame_ESP/libraries/WiFiManager"]
	path = AirLyticsFrame_ESP/libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "AirLyticsFrame_ESP/libraries/FastLED"]
	path = AirLyticsFrame_ESP/libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "AirLyticsFrame_ESP/libraries/Adafruit_Sensor"]
	path = AirLyticsFrame_ESP/libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "AirLyticsFrame_ESP/libraries/Adafruit_BME280_Library"]
	path = AirLyticsFrame_ESP/libraries/Adafruit_BME280_Library
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
[submodule "AirLyticsFrame_ESP/libraries/Adafruit_SCD30"]
	path = AirLyticsFrame_ESP/libraries/Adafruit_SCD30
	url = https://github.com/adafruit/Adafruit_SCD30.git
