[submodule "AirLyticsFrame_ESP/libraries/WiFiManager"]
	path = AirLyticsFrame_ESP/libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "AirLyticsFrame_ESP/libraries/FastLED"]
	path = AirLyticsFrame_ESP/libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "AirLyticsFrame_ESP/libraries/Adafruit_Sensor"]
	path = AirLyticsFrame_ESP/libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
